[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/debugbreak"]
	path = vendor/debugbreak
	url = https://github.com/NeoDoa-Collective/debugbreak.git
