[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/debugbreak"]
	path = vendor/debugbreak
	url = https://github.com/NeoDoa-Collective/debugbreak.git
[submodule "vendor/imgui/imgui"]
	path = vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp.git
	branch = master
[submodule "vendor/epics"]
	path = vendor/epics
	url = https://github.com/ElectronPie/epics.git
